@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
}

.wind {
  position: relative;
  top: -3vh;
  width: calc(100vw - (60vh * (481 / 812)) + 7vh);
  height: 18vh;
  background-image: url("/images/wind.png");
  background-repeat: repeat;
  background-size: calc(46vh / 8);
  will-change: background-position;
}

@layer utilities {
  .nav-link {
    @apply text-zinc-500 hover:text-zinc-800 transition-colors;
  }
  .home-page-heading {
    @apply text-center text-4xl font-extrabold text-transparent bg-clip-text bg-gradient-to-r from-primary-400 to-secondary-600 lg:text-6xl leading-normal lg:leading-relaxed;
  }
}

ul li {
  margin-bottom: 0.5rem;
}
